.linha {
    border: solid 4px #e6f2ff;
}

.linha-palco {
    margin-top: 50px;
}

.linha-palco1 {
    height: auto;
}

.borda-w {
    border: solid 0px white;
}

.cor1 {
    color: black;
}

.padding {
    margin-top: 50px;
}

#myFooter {
    background-color: #e6f2ff;
    color: black;
    padding-top: 30px;
}

#myFooter .footer-copyright {
    background-color: #333333;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .row {
    margin-bottom: 60px;
}

#myFooter .navbar-brand {
    margin-top: 45px;
    height: 65px;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: black;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter h2 a {
    font-size: 50px;
    text-align: center;
    color: #fff;
}

#myFooter a {
    color: black;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .btn {
    color: white;
    background-color: #cdcdcd;
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
}

.posicao {
    position: absolute;
}

.content-section {
    min-height: 2000px;
}

.sidebar-section {
    position: absolute;
    height: 100%;
    width: 100%;
}

.sidebar-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.make-me-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 0 15px;
}


/* Ignore This, just coloring */

body {
    background: #fff;
}

article {
    background: #f1f1f1;
    border-radius: 12px;
    padding: 25px 0 600px;
}

.title-section,
.content-section,
.sidebar-section {
    background: #fff;
    border-radius: 12px;
    border: solid 10px #f1f1f1;
}

.title-section {
    text-align: center;
    padding: 50px 15px;
    margin-bottom: 30px;
}

.content-section h2 {
    text-align: center;
    margin: 0;
    padding-top: 200px;
}