.margin {
    padding: 5px;
}

.margin5{
    padding: 15px;
}
.btn {
    color: white;
    background-color: #71ab9a;
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
}

.btn-lg {
    background-color: rgb(210, 74, 214);
    border: solid 1px rgb(210, 74, 214);
}

.margin1 {
    padding: 48px;
}

.color-text {
    color: rgb(210, 74, 214);
}

.color-text1 {
    color: rgb(210, 74, 214);
    margin: 20px;
}

.margin2 {
    padding: 35px;
}

.margin3 {
    padding: 10px;
}

.cor-fundo {
    background-color: #e6f2ff;
}

.img-fundo {
    opacity: 40%;
    height: 400px;
    width: 400px;
    z-index: -1;
    position: absolute;
    top: 80px;
    left: 150px;
}

.topmenu {
    padding: 100px;
}

.formulario {
    color: rgb(210, 74, 214);
}

.img-fundo1 {
    opacity: 40%;
    height: 400px;
    width: 400px;
    z-index: -1;
    top: 100px;
    left: 150px;
    position: absolute;
}

